terraform import aws_route53_record.{{ resource.Name | trim(".") | replace(".", "_") | replace("-", "_") | lower }}_{{ resource.Type }} {{ resource.ZoneId }}_{{ resource.Name | trim(".") }}_{{ resource.Type }}

